---
layout: main.liquid
---
    <h1> {{title}} </h1>
    <p>by: {{ author }}, {{ date | date: "%a, %b %d, %Y"}}</p>
<!-- 
    <p>tags: {{tags | join: ", "}}
 -->
    {% for tag in tags %}
     <a href="{{siteURL}}/tags/{{ tag }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
     {% endfor %}
     </p>
  {{ content }}
 