---
 layout: main.liquid 
--- 
<h2 class="postTitle">
	{{title}} 
</h2>
<p>
	 <span class="byline">by: {{ author }}, {{ date | date: "%a, %b %d, %Y"}}</span>
</p>
{% for tag in tags %} 
    {% if tag != "blog" %}
        <a href="{{siteURL}}/tags/{{ tag }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
    {% endif %}
{% endfor %} 
</p>
{{ content }} 